*{
  margin: 0; padding: 0; box-sizing: border-box; overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
.container{
  display: flex; flex-direction: column; align-items: center;
  justify-content: center; 
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100ed3 74%);
 
}
.title{
  font-size: 4vw; border-radius: 17px;
  margin: 5vh; border: 7px dashed rgba(103, 80, 110, 0.568);
  width: 45vw; padding: 2vh 5vw; font-family: Rubik Doodle Shadow;
  color: #df87e2c5;
}
.cards{
  display: flex; align-items: center; justify-content: center;
  flex-wrap: wrap; margin: 0 auto; max-width: 80vw; 
}
.card{
  width: 23vw; height: max-content; margin: 1rem; padding: 1rem;
  display: flex; flex-direction: column; transition: 0.4s ease-out;
  background-color: rgba(82, 82, 89, 0.664); border-radius: 5px;
  box-shadow: #8b89893d 2px 4px 10px;
}
.card:hover{
  scale: 1.05; background-color: rgba(40, 40, 45, 0.79);
  box-shadow: none;
}
.image{
  border-radius: 10px; object-fit: cover; opacity: 0.4; aspect-ratio: 1/1;
}
.card:hover .image{
  opacity: 1; 
}
.read-more{
  cursor: pointer; color: rgb(128, 174, 174);
}
.tour-info{
  margin: 10px 5px;
}
.tour-details{
  display: flex; flex-direction: column;
}
.tour-price{
  color: #53f43d; font-size: large; text-align: left;
}
.tour-name{
  color: #3ab9aad9; text-align: left; 
}
.card:hover .tour-name{ font-size:x-large;}
.description{
  color: #ffffffae; font-size: smaller;
}
.card:hover .description{
  font-size: 14px; color: #fffffff9;
}
.btn-not-interested{
  width: 80%; height: 15%; background-color: #FA3654; border: 3px solid #FA3654;
   color: #FFFFFF; padding: 3%; margin: 4% 0% 0% 0%; font-size: larger; border-radius: 6px;
}
.card:hover .tour-price {
  order: 2; 
}
.card:hover .tour-name {
  order: 1; 
}
.btn-not-interested:hover{
  background-color: #FFFFFF; color: #FA3654;
}
.refresh{
  background-color: #2b4162;
  display: flex; justify-content:flex-start; align-items: center; width: 100%; height: 100vh;
  flex-direction: column; 
}
.loader{
  width: 35vw; height: 35vw; 
}
.header{
  font-size: 40px; font-family: Rubik Doodle Shadow; margin-bottom: 2%; 
}
.btn-refresh{
  all: unset; width: 10vw; padding:1%; background-color: #6894a4; color: #FFFFFF;
   border: 3px solid #6894a4; border-radius: 15px; text-align: center;
  font-size: larger;
  }
.btn-refresh:hover{
  background-color: #FFFFFF; color: #6894a4; 
  transition: 0.4s scale(1.06);
}
@media screen and (max-width: 710px){
  *{overflow-x: hidden;}
  .title{width: 75vw; font-size: 11vw;}
  .cards{ width: 100vw;}
  .card{ width: 100%; border-radius: 12px;}
  .image{ border-radius: 5px;}
  .cards{ align-items: center;}
  .loader{ width: 70vw; height: 75vh;
    -webkit-filter: drop-shadow(5px 5px 5px #2b4162);
    filter: drop-shadow(5px 5px 5px #2b4162);
  }
  .btn-refresh{ width: 60%; border-radius: 7px; margin-top: 2%;}
}